.places{
    margin-top: 92px;
    width: calc(1280px - 148px*2);
    height: auto;
    margin-left: auto;
  margin-right: auto;
    display: grid;
      grid-template-columns: calc(100% - 148px*2);
      grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
      gap: 80px;
  }
  @media screen and (max-width: 1024px){
    .places{
        width: calc(1024px - 65px);
    }
  }
  @media screen and (max-width: 768px){
    .places{
      width: calc(100% - 24px*2);
    }
  }
  @media screen and (max-width: 320px){
    .places{
      width: 100%;
      margin-top: 64px;
      grid-template-columns: 100%;
      gap: 49px;
      margin-left: 0;
    }
  }