.place__image{
    margin-top: calc(48px - 26px);
    grid-area: place__image;
     width: "auto";
     height: 460px;
     width: 460px;
  }
  @media screen and (max-width: 1024px){
    .place__image{
      height: 440px;
     width: 440px;
    }
  }
  @media screen and (max-width: 768px){
    .place__image{
      margin-top: calc(48px - 25px);
      height: 340px;
     width: 340px;
    }
  }
  @media screen and (max-width: 320px){
    .place__image{
      margin-top: 7px;
      height: 320px;
     width: 320px;
    }
  }