.place__image {
    margin-top: calc(48px - 26px);
    grid-area: place__image;
    width: 100%;
    max-width: 460px;
}

@media screen and (max-width: 1023px) {
    .place__image {
        max-width: 460px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        margin-top: calc(48px - 25px);
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        margin-top: 7px;
    }
}