.discreption{

}
@media screen and (max-width: 1024px){
    .discreption{
      width: 456px;
    }
  }
  @media screen and (max-width: 768px){
    .discreption{
      font-size: 16px;
      line-height: 26px;
    }
  }
  @media screen and (max-width: 320px){
    .discreption{
      margin-top: 7px;
      font-size: 16px;
      line-height: 26px;
      margin-left: 16px;
    }
  }