.discreption {}

@media screen and (max-width: 1024px) {
    .discreption {}
}

@media screen and (max-width: 767px) {
    .discreption {
        width: auto;
        height: auto;
        font-size: 16px;
        line-height: 26px;
        margin-left: 5%;
        margin-right: 5%;
    }
}