.intro {
    max-width: 690px;
    height: auto;
    margin-top: 9%;
    display: block;
    margin-left: 11.5%;
}

@media screen and (max-width: 1279px) {
    .intro {
        margin-left: 4.6%;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        margin-left: 3%;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        width: calc(100% - 24px*2);
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        margin-top: 64px;
        height: auto;
        width: calc(100% - 16px*2);
        margin-left: auto;
        margin-right: auto;
    }
}