.header__lang-list {
    display: flex;
    list-style-type: none;
    margin-right: 48px;
}
@media screen and (max-width: 1023px){
    .header__lang-list{
        margin-right: 24px;
    }
}
@media screen and (max-width: 767px){
    .header__lang-list{
        margin-right: 16px;
    }
}